@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#050505] text-[#E5E0D0] overflow-x-hidden;
        cursor: crosshair;
        /* Курсор-хрестик для точності */
    }

    ::selection {
        @apply bg-[#D4AF37] text-black;
    }
}

.font-baroque {
    font-family: 'Playfair Display', serif;
}

.font-royal {
    font-family: 'Cinzel', serif;
}

@layer utilities {
    .stroke-text {
        -webkit-text-stroke: 1px #D4AF37;
        /* Золота обводка */
        color: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 3px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #D4AF37;
        border-radius: 10px;
    }
}